alembic==1.3.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Mako==1.1.0
MarkupSafe==1.1.1
oauthlib==3.1.0
pbr==5.4.4
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
SQLAlchemy==1.3.12
stevedore==1.31.0
urllib3==1.26.5
URLObject==2.4.3
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
WTForms==2.2.1
