{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post.title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.title.label }}
    {{ form.title(value=(request.form['title'] or post.title)) }}
    <!-- Workaround to populate textarea as proposed in https://stackoverflow.com/questions/5117479/wtforms-how-to-prepopulate-a-textarea-field -->
    {% set f = form.body.process_data(request.form['body'] or post['body']) %}
    {{ form.body() }}
    {{ form.save() }}
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post.id) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.delete(onclick="return confirm('Are you sure?');") }}
  </form>
{% endblock %}